body {
    background-color: black;
    font-family: 'Acme', sans-serif;
}

#index-body {
    background-image: url("..//images/background.jpg");
    background-size: cover;
}

#background {
    background-image: url("../images/film.png");
    background-size: 1000px 640px;
    height: 640px;
    width: 1000px;
    background-repeat: no-repeat;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding-top: 30px;
}

#transbox {
    background-color: #d7d5e0;
    opacity: .85;
    width: 940px;
    height: 580px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

#curtain1 {
    width: 775px;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#curtain2 {
    width: 775px;
    height: 800px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#curtain3 {
    width: 260px;
    height: 800px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#curtain4 {
    width: 260px;
    height: 800px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#trans-theater {
    width: 1123px;
    height: 800px;
    position: absolute;
    top: 0;
    left: 200px;
}

h1.index-pg {
    text-align: center;
    text-decoration: underline;
    font-size: 65px;
    padding: 10px;
    margin-top: 40px;
    color: #811515;
}

h2.index-pg {
    font-size: 35px;
    padding: 10px;
    margin: 15px;
    color: #811515;
}

h3.index-pg {
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
    color: #811515;
}

button.index-pg {
    background-color: #811515;
    border: 2px solid black;
    color: #d7d5e0;
    font-size: 22px;
    width: 160px;
    height: 65px;
    margin: 7px;
}

#buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

img.poster {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 120px;
    left: 350px;
    border: 4px solid black;
}

.movie-reveal {
    width: 440px;
    position: absolute;
    left: 697px;
    top: 117px;
    z-index: 1;
}

.movie-title {
    font-size: 50px;
    text-align: center;
}

.movie-line {
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
}

.movie-speaker {
    font-size: 30px;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 60px;
}

.movie-year {
    font-size: 30px;
    text-align: center;
}

.answer-status {
    text-align: center;
    font-size: 40px;
    color: #811515;
    text-decoration: underline;
    padding-bottom: 15px;
}

.question {
    width: 945px;
    height: 395px;
    position: absolute;
    left: 285px;
    top: 117px;
    z-index: 1;
}

#in-which-movie {
    text-align: center;
    font-size: 35px;
    padding-bottom: 15px;
    color: #811515;
}

#question-movie-line {
    text-align: center;
    font-size: 55px;
}

#timer {
    position: absolute;
    text-align: center;
    top: 433px;
    left: 965px;
    font-size: 37px;
    color: #811515;
}

.option-button {
    font-size: 55px;
}

#end-game {
    width: 945px;
    height: 395px;
    position: absolute;
    left: 285px;
    top: 117px;
    z-index: 1;
    text-align: center;
    font-size: 40px;
}

#game-over {
    color: #811515;
    padding-bottom: 25px;
    font-size: 60px;
}

#again {
    padding-top: 35px;
    font-size: 30px;
}

.choice-container {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 355px;
}

.choice-boxes {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}



.choice-boxes:active, .choice-boxes:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.choice-boxes:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.choice-boxes:checked:after {
	content: '\2714';
	font-size: 15px;
	position: absolute;
	top: 0px;
    left: 3px;
	color: #811515;
}